extends layout

append head_scripts
    //- script(src="/inc/objs.js")

append page_scripts
    //- script(src="/inc/util.js")
    //- script(src="/inc/front.js")
    //- script(src="/inc/social.js")

block content

    .row
        .col-md-8.col-md-offset-2

            h2 Как установить информер на свой сайт

            br

            p.
                Выберите станцию: 
                <select>
                    <option value="bgkgs2">Гора Соболиная</option>
                </select>

            p.
                и скопируйте этот код себе на страницу:

            pre.code
                = "<script type=\"text/javascript\""
                br
                = "    src=\"http://meteo38.ru/exp/t.js?st=\"></script>"


//-
