.help

    h4 Откуда эти данные.
    p.
        Данные поступают автоматически из различных источников.
        В основном это самодельные датчики, подключенные к интернет.

    h4 Насколько все это достоверно.
    p.
        Электронные сенсоры обеспечивают достаточную точность,
        но в зависимости от места и способа установки датчика его показания
        могут отличаться от аналогичных в других местах.

    h4 Рядом расположенные датчики показывают различную температуру.
    p.
        Как правило, это говорит о том, что на улице ясная безветренная погода
        и в отдельных местах воздух хорошо прогревается.

    h4 Что отображается с списке.
    p.
        Название станции, ее местоположение, текущая температура
        и направление изменения относительно среднего значения за два последних часа.

    h4 Как изменить список.
    p.
        Нажать на кнопку "Метеостанции", в загрузившемся списке
        отметить интересующие станции звездочками.

    h4 Как поставить текущую температуру с себе на сайт.
    p.
        Возможность будет реализована в ближайшее время.

    h4 Есть предложение.
    p.
        Сообщения об ошибках и предложения по работе сайта лучше всего размещать здесь
        <a href="https://github.com/maxp/meteo38/issues" target="_blank">github.com/maxp/meteo38/issues</a>.
        Если там уже есть аналогичные сообщения, то высказывайтесь в комментариях к ним.


