doctype html
html
    head

        link(
            href='http://fonts.googleapis.com/css?family=Exo+2:800italic,700italic&subset=latin,cyrillic'
            rel='stylesheet' type='text/css')

        //- http://favicon.htmlkit.com/favicon/-/viewdetails/
        
        style(type="text/css").
            #frm {
                position:relative;
                margin: 40px 50px; width: 152px; height: 152px; 
                border: 1px solid #eee;";
            }
            #t {
                position: absolute;
                top: -40px; left: 8px;
                color: #04a;           
                font-family: 'Exo 2';
                font-style: italic;
                font-size: 160px;
                font-weight: bold;
                }
            #deg {
                position: absolute;
                top: 0px; left: 76px;
                font-face: Arial;
                font-weight: bold;
                font-size: 60px;
                color: #444;
            }
            #r38 {
                position: absolute;
                top: 72px; left: 72px;
                font-face: sans;
                font-weight: bold;
                font-size: 68px;
                color: #a40;
            }
    body
        div#frm
            div#t t
            div#deg &deg;
            div#r38 38
