doctype html
html
    head
        title
            | meteo38.ru
            - if(title)
                = ": "+title

        block head
            meta(charset="utf-8")
            meta(http-equiv="X-UA-Compatible", content="IE=edge")
            meta(name="viewport", content="width=device-width,initial-scale=1.0")
            meta(property="description", 
                content="Актуальная температура в разных точках Иркутска и области в реальном времени")
    
            meta(property="og:title", content="Meteo38: Погода в Иркутске и области")
            //- meta(property="og:image" content="...")
            meta(property="og:description", 
                content="Актуальная температура в разных точках Иркутска и области в реальном времени")
            
            block head_css
                link(href="/inc/css/bootstrap.min.css",rel="stylesheet")
                link(href="/inc/main.css",rel="stylesheet")

            <link rel="shortcut icon" type="image/x-icon" href="/inc/img/favicon.ico" />
            <link rel="apple-touch-icon" href="/inc/img/touch-icon.png">
            //- https://developer.apple.com/library/ios/documentation/userexperience/conceptual/mobilehig/IconMatrix.html
            //- rel="apple-touch-icon-precomposed", "apple-touch-icon"
            //- sizes="152x152", "120x120", "76x76"

            block head_scripts
                //- script(src="/inc/js/modernizr.js")

                //- script(src="/inc/js/jquery.min.js")
                //- script(src="/inc/js/bootstrap.min.js")
                //- script(src="/inc/util.js")
            //- block head_csrf
                != _csrf_token()

    body

        .navbar.navbar-default.navbar-static-top(role="navigation")
            .container
                .col-md-offset-2
                    a.navbar-brand(href="http://meteo38.ru/") meteo38<b>.ru</b>
        //-

        .container.page

            block content


        block footer 
            .footer
                .container
                    div.about
                        a.link(
                            href="https://github.com/maxp/meteo38"
                            target="_blank"
                            ) github.com/maxp/meteo38
                        //- br                        
                        //- | Вашие предложения и замечания можете заносить
                        //- = " "
                        //- a.link(
                        //-     href="https://github.com/maxp/meteo38/issues"
                        //-     target="_blank"
                        //-     ) в трекер
                        //- = " "
                        //- | или слать на e-mail:
                        //- = " "
                        //- a.link(href="mailto:m@penzin.ru") m@penzin.ru

        block page_scripts
            script(src="/inc/js/jquery.min.js")
            script(src="/inc/js/bootstrap.min.js")
            //- script(src="/inc/util.js")

        block counters
            script.
                (function (d, w, c) { (w[c] = w[c] || []).push(function() {
                        try {
                            w.yaCounter23638075 = new Ya.Metrika({
                                id:23638075,
                                clickmap:true,
                                trackLinks:true,
                                trackHash:true,
                                accurateTrackBounce:true
                            });
                        } catch(e) { }
                    });

                    var n = d.getElementsByTagName("script")[0],
                        s = d.createElement("script"),
                        f = function () { n.parentNode.insertBefore(s, n); };
                        s.type = "text/javascript";
                        s.async = true;
                        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

                    if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } 
                    else { f(); }
                })(document, window, "yandex_metrika_callbacks");
            //-

//-