extends layout

append head_scripts
    //- script(src="/inc/objs.js")

append page_scripts
    script(src="/inc/util.js")
    //- additional scripts

block content

    .favs
        .item
            .data.pull-right
                .t
                    | <span class='neg'>-<i>6</i></span>&deg; <span class="arr pos">&uarr;</span>
            .text
                .title Помяловского
                .addr ул. Помяловского, д. 1"Б"
        .item
            .data.pull-right
                .t
                    | <span class='pos'>+<i>2</i></span>&deg; <span class="arr neg">&darr;</span>
            .text
                .title Аэропорт
                .addr ул. Ширямова

        each st in sts_data
            .item
                .data.pull-right!= format_t(st.last.t)
                .text
                    .title #{st.title}
                    .addr #{st.descr || st.addr}

    .buttons
        | show map

    .adv

    .mapblock

    .stations


//-