extends layout

append head_scripts
    //- script(src="/inc/objs.js")

append page_scripts
    script(src="/inc/util.js")
    //- additional scripts

block content

    ul
        li Степана Разина
        li Березовый
        li Аэропорт

//-