extends layout

append head_scripts
    //- script(src="/inc/objs.js")

append page_scripts
    script(src="/inc/util.js")
    script(src="/inc/front.js")

block content

    .row
        .favs.col-md-8.col-md-offset-2
            //- .item
                .data.pull-right
                    .t
                        | <span class='neg'>-<i>6</i></span>&deg; <span class="arr pos">&uarr;</span>
                .text
                    .title Помяловского
                    .addr ул. Помяловского, д. 1"Б"
            //- .item
                .data.pull-right
                    .t
                        | <span class='pos'>+<i>2</i></span>&deg; <span class="arr neg">&darr;</span>
                .text
                    .title Аэропорт
                    .addr ул. Ширямова

            each st in sts_data
                .item(id="fav_stid_#{st._id}")
                    .data.pull-right
                        .t!= format_t(st.last, st.trends)
                    .text
                        .title #{st.title}
                        .addr #{st.descr || st.addr}

    //- .buttons
        | show map

    //- .adv

    //- .mapblock

    hr 

    .row
        .b-stations.col-md-8.col-md-offset-2
            button.btn.btn-primary.btn-sm(id="btn_stlist") Список станций

            .stlist(id="stlist")

//-