//
//  meteo38.ru: style
//

// body 
//    font-family: Verdana, Arial, sans-serif
//    font-size: 13px
//    line-height: 18px
//    line-height: 1.4


a, a:visited
    text-decoration: none
    color: #00f

a:visited
    color: #04d

a:hover
    text-decoration: underline
    color: #008afa

a:active
    text-decoration: underline
    color: #a00    


// @import url("http://fonts.googleapis.com/css?family=Droid+Sans:400,700")
// @import url("http://fonts.googleapis.com/css?family=Ubuntu:400,700&subset=latin,cyrillic")
// @import url(http://fonts.googleapis.com/css?family=Belgrano)
// @import url(http://fonts.googleapis.com/css?family=Courgette)

.page
    .obj_list

        .loading
            color: #99b
            margin: 8px 12px




// - - - - - - - - 

// 'LFT Etica Regular', Helvetica, Arial, sans-serif;
// Arimo,  
// Belgrano
// proxima-nova-soft, http://use.typekit.com/c/357e48/proxima-nova-soft:n4:n7.S2w:F:2,S2z:F:2/d?3bb2a6e53c9684ffdc9a98f2195b2a62c5ad885d4a1ffd530bdaedc2cab5b07be6455a415f59813bd45a36b7985a501bf03ed4b2a72ed4a85900e753e0da8ef832d133ac9bc4f89c38b6816c28654f173e3b34ed08f64fb516eb098114b3dd03baa7970c7db1c2b8e31869ca857caad96e0baf6fce434237c6bdd20bbcb4710a3aba33704e98959c8b7101955ab50c5aa5d839c792990613d4bd18901ae97104b6ca5c3fa7409dceb40d6c126173f55f5c63485f7a1e380b75dfa89e80caeb2dc6377841acaa1c3a294524352834d11dfe6718fd8b2b51af467c8f1d150712f0baa518064cdd46cd2287d6c652c0f43ca86343

// navbar

.navbar-static-top
    margin-bottom: 16px
    background-color: #f2f6ff

    .navbar-brand
        margin: 0px 10px 2px 2px
        text-shadow: 1px 1px 2px rgba(0,0,0,0.4)

    .navbar-brand, .navbar-brand:hover
        font-weight: bold
        font-size: 34px
        font-family: 'Verdana', sans-serif
        font-style: italic
        color: #04b

        b
            color: #a00
            font-weight: inherit
            font-style: italic



// page

.page
    .favs
        margin: 0 auto 8px auto

        .item
            margin-bottom: 4px 

            .data
                font-size: 20px
                .t
                    color: #999
                    position: relative

                i
                    font-style: inherit
                    margin-left: 2px
                    margin-right: 1px
            .pos
                color: #a40
            .zer
                color: #555
            .neg
                color: #04d

            .arr
                font-size: 15px
                position: relative
                top: -3px
                // display: inline-block
                // margin-top: -4px

            .text
                .title
                    font-size: 22px
                .addr
                    color: #888

.page
    .map
        border: 1px solid #ccc
        background-color: #f6f6f6
        height: 400px
        border-radius: 2px
        padding: 1px
        margin-top: 10px
        margin-bottom: 10px
        position: relative

        .loading
            position: absolute
            top: 8px
            left: 12px
            color: #99b
            
        .map_coords
            position: absolute
            bottom: 8px
            left: 14px
            z-index: 100
            font-size: 12px

        .map_center
            position: absolute
            margin-left: -16px
            margin-top: -16px
            top: 50%
            left: 50%
            z-index: 100
            color: #a22
            opacity: 0.7
            font-size: 32px


c_dark  = #3a609e
c_norm  = #5b86c9
c_light = #e6edf8
c_grey  = #557
c_lgrey = #f4f4f4

bg_light = #f0f0f0
bg_dark  = #5c6b81

c_brd = #4af
c_da  = #dadada

bg_input = #fcfcf0

.clr
    clear: both


//.