a,a:visited{text-decoration:none;color:#00f}
a:visited{color:#04d}
a:hover{text-decoration:underline;color:#008afa}
a:active{text-decoration:underline;color:#a00}
.navbar-static-top{margin-bottom:16px;background-color:#f2f6ff;}
.navbar-static-top .navbar-brand{margin:0 10px 2px 2px;text-shadow:1px 1px 2px rgba(0,0,0,0.4)}
.navbar-static-top .navbar-brand,.navbar-static-top .navbar-brand:hover{font-weight:bold;font-size:34px;font-family:'Verdana',sans-serif;font-style:italic;color:#26e;}
.navbar-static-top .navbar-brand b,.navbar-static-top .navbar-brand:hover b{color:#d42;font-weight:inherit;font-style:italic}
.footer{margin-top:10px;border-top:1px solid #dadada;padding-top:4px;}
.footer .github{font-size:14px;}
.footer .github .link{color:#669}
.footer .github .issues{font-size:13px}
.page .favs{margin-top:6px;}
.page .favs .item{margin-bottom:4px;background-color:#f9fafc;border-radius:4px;padding:1px 10px 2px 10px;cursor:pointer;}
.page .favs .item .data{font-size:20px;margin-top:4px;margin-left:6px;}
.page .favs .item .data .t{color:#999;position:relative}
.page .favs .item .data i{font-style:inherit;margin-left:2px;margin-right:1px}
.page .favs .item .pos{color:#a40}
.page .favs .item .zer{color:#555}
.page .favs .item .neg{color:#04d}
.page .favs .item .arr{font-size:15px;position:relative;top:-3px;margin-left:2px}
.page .favs .item .text .title{font-size:22px}
.page .favs .item .text .addr{color:#888;margin-left:16px}
.page .favs .item:hover{background-color:#f0f4ff}
.page .b-stations .stlist{margin-top:16px;maring-bottom:12px;}
.page .b-stations .stlist .item{margin-bottom:4px;background-color:#f9fafc;border-radius:4px;padding:1px 10px 2px 10px;cursor:pointer;}
.page .b-stations .stlist .item .title{font-size:22px}
.page .b-stations .stlist .item .addr{color:#888;margin-left:16px}
.page .b-stations .stlist .item:hover{background-color:#f0f4ff}
.page .map{border:1px solid #ccc;background-color:#f6f6f6;height:400px;border-radius:2px;padding:1px;margin-top:10px;margin-bottom:10px;position:relative;}
.page .map .loading{position:absolute;top:8px;left:12px;color:#99b}
.page .map .map_coords{position:absolute;bottom:8px;left:14px;z-index:100;font-size:12px}
.page .map .map_center{position:absolute;margin-left:-16px;margin-top:-16px;top:50%;left:50%;z-index:100;color:#a22;opacity:.7;font-size:32px}
.clr{clear:both}
