//
//  meteo38.ru: style
//

// body 
//    font-family: Verdana, Arial, sans-serif
//    font-size: 13px
//    line-height: 18px
//    line-height: 1.4


a, a:visited
    text-decoration: none
    color: #00f

a:visited
    color: #04d

a:hover
    text-decoration: underline
    color: #008afa

a:active
    text-decoration: underline
    color: #a00    

.navbar-static-top
    margin-bottom: 12px
    background-color: #f2f6ff

    .navbar-brand
        // margin: 0px 10px 1px 2px
        margin-bottom: 1px
        text-shadow: 1px 1px 2px rgba(0,0,0,0.4)

    .navbar-brand, .navbar-brand:hover
        font-weight: bold
        font-size: 34px
        font-family: 'Verdana', sans-serif
        font-style: italic
        color: #26e

        b
            color: #d42
            font-weight: inherit
            font-style: italic

// footer

.footer
    margin-top: 12px
    margin-bottom: 8px
    border-top: 1px solid #dadada
    padding-top: 6px
    color: #555

    .link
        color: #47c

    .about
        text-align: center
        font-size: 13px


// page

.page
    .help
        // border: 1px solid #eee
        // border-radius: 4px
        // padding: 4px 10px
        // margin: 12px 0
        // background-color: #fffded

        h2
            margin-top: 10px

        h4
            color: #006
            margin-bottom: 4px
        
        p
            margin-left: 2ex
            margin-bottom: 4px
    

.page
    .btn_refresh
        margin-right: 8px

    .btn_help
        margin-left: 8px

    .favs
        margin-top: 10px

        .item
            margin-bottom: 4px
            background-color: #f9fafc
            border-radius: 4px
            padding: 1px 10px 2px 10px
            cursor: pointer

            .data
                font-size: 20px
                margin-top: 4px
                margin-left: 6px
                color: #888
                .t
                    position: relative
                i
                    font-style: inherit
                    margin-left: 2px
                    margin-right: 1px
            .pos
                color: #a40
            .zer
                color: #555
            .neg
                color: #04d

            .arr
                font-size: 15px
                position: relative
                top: -3px
                margin-left: 2px

            .text
                .title
                    font-size: 22px
                .addr
                    color: #888
                    margin-left: 16px

        .item:hover
            background-color: #f0f4ff

.page
    .social
        margin-top: 8px
        overflow-y: hidden
        overflow-x: hidden
        height: 25px

    .socbtn
        width: 100px
        padding: 0 2px
        vertical-align: top

.page
    .b-stations
        .stlist
            margin-top: 12px
            margin-bottom: 12px
            .star
                margin: 12px 2px 0 6px
                float: right
                cursor: pointer
                font-size: 22px
                .glyphicon-star
                    color: #fa2
                    text-shadow: 1px 1px 1px rgba(0,0,0,0.3)
                .glyphicon-star-empty
                    color: #acd

            .item
                margin-bottom: 4px
                background-color: #f9fafc
                border-radius: 4px
                padding: 1px 10px 2px 10px
                .title
                    font-size: 22px
                .addr
                    color: #888
                    margin-left: 16px

            .item:hover
                background-color: #f0f4ff
                            
.page
    .map
        border: 1px solid #ccc
        background-color: #f6f6f6
        height: 400px
        border-radius: 2px
        padding: 1px
        margin-top: 10px
        margin-bottom: 10px
        position: relative

        .loading
            position: absolute
            top: 8px
            left: 12px
            color: #99b
            
        .map_coords
            position: absolute
            bottom: 8px
            left: 14px
            z-index: 100
            font-size: 12px

        .map_center
            position: absolute
            margin-left: -16px
            margin-top: -16px
            top: 50%
            left: 50%
            z-index: 100
            color: #a22
            opacity: 0.7
            font-size: 32px

.page
    .code
        margin: 10px 10px 12px 10px
        padding: 8px 16px
        // background-color: #fafafa
        // border: 1px solid #dadada
        // border-radius: 2px

c_dark  = #3a609e
c_norm  = #5b86c9
c_light = #e6edf8
c_grey  = #557
c_lgrey = #f4f4f4

bg_light = #f0f0f0
bg_dark  = #5c6b81

c_brd = #4af
c_da  = #dadada

bg_input = #fcfcf0

.clr
    clear: both


//.